// TEXT-COLOR
$textPrimary: #fa5238;
$textSecondary: #4a4a4a;
$textBlack: #000;
$textWhite: #fff;
$textUser: #9b9b9b;
$textGrey: #bbb;
$textBar: #666;
// BACKGROUND
$bgPrimary: #fff;
$bgCarousel: linear-gradient(to top, #000, transparent 20%);
$bgBtn1: #4a4a4a;
$bgBtn2: #fb4226;
$bgFooter: #222;
$bgBorder: #e9e9e9;
// FONT-SIZE
$fzH1: 24px;
$fzH2: 20px;
$fzH3: 18px;
$fzH4: 16px;
$fzHeader: 16px;
$fzUser: 13px;
$fzP: 12px;

// FONT-WEIGHT
$fwBold: 700;
$fwMedium: 600;
$fwMid: 500;
$fwRegular: 400;
$fwLight: 300;
// SPACING
$spacing: 10px;
