@import "../../Assets/Styles/SCSS/Helper/variable";
@import "../../Assets/Styles/SCSS/Helper/mixin.scss";
.search__movie {
	width: 100%;
	height: 60px;
	@include MediaQuery($md) {
		height: 80px;
	}
	@include MediaQuery($sm) {
		display: none;
	}
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transform: translateY(-80%);
	@include MediaQuery($md) {
		transform: translateY(-80%);
	}
	z-index: 1;
	display: flex;
	&__group {
		width: 17.5%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
			background: url("https://kdq-react-movie-app.surge.sh/images/dropdown-icon.png") 50% / contain no-repeat;
			width: 10px;
			height: 10px;
			@include MediaQuery($md) {
				width: 15px;
				height: 15px;
			}
			cursor: pointer;
			pointer-events: none;
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			width: 2px;
			height: 40%;
			@include MediaQuery($md) {
				height: 50%;
			}
			background-color: #e4e4e4;
		}
		select {
			font-size: 14px;
			width: 100%;
			height: 100%;
			border: 0;
			outline: 0;
			padding: 5px;
			@include MediaQuery($md) {
				padding: 20px;
				font-size: 16px;
			}
			border-radius: 5px;
			cursor: pointer;
			appearance: none;
		}
	}
	.movieSelect {
		width: 30%;
	}
	.btnSelect {
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
		.btnBuyTicket {
			width: unset;
			height: unset;
			padding: 5px;
			font-size: $fzUser;
			color: #fff;
			border: 1px solid $bgBtn2;
			border-radius: 4px;
			background: linear-gradient(270deg, $bgBtn2, #ce3017);
			cursor: pointer;
			outline: none;
			@include MediaQuery($md) {
				font-size: $fzH4;
				padding: 10px;
			}
			&:hover {
				background: $bgBtn2;
			}
		}
	}
}
